.no-height {
  height: 0 !important;
}
.player-container {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #010021b0;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  border: 5px solid #010021;
}
@media only screen and (max-width: 600px) {
  .player-container {
    max-width: 75% !important;
  }
}

.player-cover {
  height: 160px;
  background-position: top center;
  background-size: cover;
  transition: height 0.4s;
}
.artist-info {
  padding: 60px 35px 35px;
}
.artist-name,
.artist-song-name {
  margin: 0;
}
.artist-name {
  margin-bottom: 5px;
  font-size: 32px;
  font-weight: 400;
  color: whitesmoke;
}
.artist-song-name {
  font-size: 18px;
  font-weight: 400;
  color: whitesmoke;
}
.player-progress-container {
  position: relative;
  width: 365px;
  height: 9px;
  margin: 0 auto;
  background-color: #414141;
  border-radius: 40px;
}
@media only screen and (max-width: 600px) {
  .player-progress-container {
    max-width: 80% !important;
  }
}


.player-progress-value {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #cdd2d8;
  border-radius: 40px;
}
.player-progress-value:after {
  position: absolute;
  top: -3px;
  right: -6px;
  content: "";
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  background-color: #f2e25e;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 2px;
}
.player-options {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 20px;
  width: 365px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .player-options {
    max-width: 100% !important;
  }
}
.player-buttons {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 135px;
}
.player-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #d2d7db;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  outline: 0;
  transition: all 0.4s;
}
.player-btn i {
  font-size: 28px;
  margin: 0 auto;
}
.player-btn.active {
  color: #838c92;
}
.player-btn.big {
  width: 65px;
  height: 65px;
}
.player-btn.big i {
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  .player-btn.big {
    width: 50px;
    height: 50px;
  }
  .player-btn.big i {
    font-size: 20px;
  }
}
.player-btn.medium {
  width: 45px;
  height: 45px;
}
.player-btn.medium i {
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  .player-btn.medium {
    width: 30px;
    height: 30px;
  }
  .player-btn.medium i {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .player-btn.volume {
    width: 30px !important;
    height: 30px !important;
    background-color: #2e276e;
  }
  .player-btn.repeat {
    width: 30px !important;
    height: 30px !important;
    background-color: #2e276e;
  }
  .player-btn.random {
    width: 30px !important;
    height: 30px !important;
    background-color: #2e276e;
  }
  .player-btn i {
    font-size: 20px !important;
  }
}
.player-btn i {
  font-size: 20px;
}
.player-btn.repeat {
  width: 35px;
  height: 35px;
  background-color: #2e276e;
}
.player-btn.random {
  width: 35px;
  height: 35px;
  background-color: #2e276e;
}
.player-btn.volume {
  width: 35px;
  height: 35px;
  background-color: #2e276e;
}
.player-btn:disabled {
  opacity: 0.5;
}
.player-controls {
  /* width: 180px; */
  width: 200px;
}
.player-controls .player-btn {
  color: #d9d9d9;
  background-color: #414141;
}

.saat {
  margin: 30px 0px 30px 0px;
  padding: 0px 20px 0px 15px;
  font-size: 130px;
  font-family: Hardpixel, serif;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .saat {
    margin: 30px 0px 30px 0px;
    padding: 20px 20px 10px 20px;
    font-size: 70px;
    font-family: Hardpixel, serif;
    text-align: center;
  }
}

.renkler {
  color: #080723;
  text-shadow: 3px 3px 0 #b1389f;
}
.renkler2 {
  color: #010002;
  text-shadow: 3px 3px 0 #27dfad;
}
.renkler3 {
  color: #080723;
  text-shadow: 3px 3px 0 #27dfad;
}
.renkler4 {
  color: #27dfad;
  text-shadow: 3px 3px 0 #080723;
}
.renkler5 {
  color: black;
  text-shadow: 3px 3px 0 white;
}
.renkler6 {
  color: #010021;
  text-shadow: 3px 3px 0 #ffee61;
}
.renkler7 {
  color: #ffee61;
  text-shadow: 3px 3px 0 #010021;
}
.renkler8 {
  color: #28c891;
  text-shadow: 3px 3px 0 #c6fff2;
}
