.media-controls {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #282f31;
  color: #fff;
  position: fixed;
  top: 42%;
  left: 39%;
  min-width: 22%;
}

.media-player {
  visibility: hidden;
}
